/* 全局样式 */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f4f5f7;
  color: #172b4d;
}

/* 主应用容器 */
.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.main-layout {
  display: flex;
  flex-grow: 1;
  height: calc(100vh - 50px); /* Adjust height for the search bar */
  overflow: hidden;
}

/* 加载和错误状态 */
.app-status {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 1.5rem;
  font-weight: 500;
}

.app-status.error {
  color: #de350b;
}

/* 全局高亮样式 */
mark {
    background-color: #ff4d4d; /* Red background */
    color: white;
    padding: 0.1em 0.2em;
    border-radius: 3px;
    font-weight: normal;
}
